<port-section>
    <div class="project__hero">
        <port-hero>
            <port-hero-title>{{ project().name }}</port-hero-title>

            <port-hero-tag class="project__status">
                Status:
                @if (project().url) {
                    <a href="{{ project().url }}/"> {{ project().status }}</a>
                } @else {
                    {{ project().status }}
                }
            </port-hero-tag>
        </port-hero>
        <div class="project__hero-img">
            <img [src]="project().imgUrl" />
        </div>
    </div>
</port-section>

<port-section>
    <!-- <port-title>{{ project().status }}</port-title> -->

    <div>
        @if (description()) {
            @for (para of description(); track $index) {
                <p>{{ para }}</p>
            }
        }
        @if (project().descriptionBullets) {
            <ul>
                @for (bullet of project().descriptionBullets; track $index) {
                    <li>{{ bullet }}</li>
                }
            </ul>
        }
    </div>
</port-section>

@if (project().skills) {
    <port-section>
        <port-title>Built with</port-title>
        <div class="layouts--grid">
            @for (skill of project().skills; track skill) {
                <port-badge
                    [badge]="skill"
                    backgroundColor="white"
                />
            }
        </div>
    </port-section>
}
<port-section>
    @if (project().screenshots) {
        <port-title>Highlights</port-title>
    }
    @if (project().screenshots) {
        <port-gallery [images]="project().screenshots" />
    }
</port-section>

<port-footer />
