.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &::ng-deep img {
        max-width: 180px;
        cursor: pointer;
    }
}

::ng-deep .gallery-outlet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff000044;
    display: none;

    &.show {
        display: block;
    }
}
