<port-section>
  <port-hero>
    <port-hero-title>This is a title</port-hero-title>
    <port-hero-tag>Some tagline</port-hero-tag>
  </port-hero>
  <div>
    <port-button>Hi</port-button>
  </div>
</port-section>

<port-section>
  <port-title>This is a title</port-title>
  <div>
    {{ mySize }}
    <port-badge imgPath="https://placehold.co/100" [size]="mySize" />
  </div>
</port-section>

<port-section>
  <port-title>This is a timeline</port-title>
  <port-timeline />
</port-section>

<!-- Projects section -->

<port-section>
  <port-title>Projects</port-title>
  <port-card>
    <port-card-title>Project 1</port-card-title>
    <port-card-sub-title
      >Made with:
      <port-badge imgPath="https://placehold.co/100" />
    </port-card-sub-title>
  </port-card>

  <port-card>
    <port-card-title>Project 1</port-card-title>
    <port-card-sub-title
      >Made with:
      <port-badge imgPath="https://placehold.co/100" />
    </port-card-sub-title>
  </port-card>
</port-section>

<!-- Education -->

<port-section>
  <port-title>Education</port-title>
  <port-card>
    <port-card-title>Some Education</port-card-title>
    <port-card-sub-title>SMRT </port-card-sub-title>
  </port-card>
</port-section>

<port-footer />
