.home {
    &-hero {
        display: grid;
        row-gap: 20px;
        grid-template-rows: auto minmax(0, 1fr);

        &__tag {
            max-width: 650px;
        }

        &__footer {
            align-self: end;
            justify-self: end;
            column-gap: 20px;
            display: flex;
            z-index: 2;
        }

        &__container {
            position: relative;
        }
    }
}
