<port-section>
  <port-hero>
    <port-hero-title>This is a title</port-hero-title>
    <port-hero-tag>Some tagline</port-hero-tag>
  </port-hero>
  <div>
    <port-button>Hi</port-button>
  </div>
</port-section>

<port-section>
  <port-title>This is a bio</port-title>
  <div>
    {{ mySize }}
    <port-badge imgPath="https://placehold.co/100" [size]="mySize" />
  </div>
</port-section>

<port-section>
  <port-title>Skillz</port-title>

  <div class="skillz layouts--grid">
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
    <port-badge
      imgPath="https://placehold.co/200"
      linkPath="/skills/foo"
      size="md"
    />
  </div>
</port-section>

<port-section>
  <port-title>This is a timeline</port-title>
  <port-timeline />
</port-section>

<!-- Projects section -->

<port-section>
  <port-title>Projects</port-title>
  <div class="layouts--dual-column">
    <port-card>
      <port-card-title>Project 1</port-card-title>

      <port-badge imgPath="https://placehold.co/100" />
    </port-card>

    <port-card>
      <port-card-title>Project 1</port-card-title>

      <port-badge imgPath="https://placehold.co/100" />
      <port-badge imgPath="https://placehold.co/100" />
      <port-card-image>
        <img src="https://placehold.co/400" alt="" />
      </port-card-image>
    </port-card>
  </div>
</port-section>

<!-- Education -->

<port-section>
  <port-title>Education</port-title>
  <port-card>
    <port-card-title>Some Education</port-card-title>
    <port-card-sub-title>SMRT </port-card-sub-title>
  </port-card>
</port-section>

<port-footer />
