<port-section class="home-hero__container">
    <div class="home-hero">
        <port-hero>
            <port-hero-title>Hi, I'm Kenny Fernsten</port-hero-title>
            <port-hero-tag class="home-hero__tag"
                >I'm a senior web developer with a strong emphasis in frontend
                development.</port-hero-tag
            >
        </port-hero>
        <div class="home-hero__footer">
            <port-button href="https://github.com/fernker">GitHub</port-button>
            <port-button href="https://www.linkedin.com/in/kennyfern">LinkedIn</port-button>
        </div>
    </div>
    <port-particles />
</port-section>

<port-section>
    <port-title>My Areas of Focus</port-title>
    <div>
        <ul>
            <li>Architecting, building, and maintaing component libraries.</li>
            <li>Working with designers to close the gap between developers and design.</li>
            <li>
                Documenting and testing components for stability and ease of developer consumption.
            </li>
            <li>Creating consistent architecture and APIs with minimal breaking changes.</li>
        </ul>
    </div>
</port-section>

<port-section>
    <port-title>My Top Skills</port-title>

    <div class="skillz layouts--grid">
        @for (skill of dataService.data().skills; track skill) {
            <port-badge
                class="revealing-image"
                [badge]="skill"
                size="md"
            />
        }
    </div>
</port-section>

<port-section>
    <port-title>My Experience</port-title>
    <port-timeline
        class="revealing-image"
        [entries]="dataService.data().experiences"
    />
</port-section>

<!-- Projects section -->

<port-section>
    <port-title>My Projects</port-title>
    <div class="layouts--dual-column">
        @for (project of dataService.data().projects; track project.name) {
            <a
                href="/projects/{{ makeUrlSafe(project.name) }}/"
                class="revealing-image"
            >
                <port-card>
                    <port-card-title>{{ project.name }}</port-card-title>
                    <port-card-image>
                        <img
                            [src]="project.imgUrl"
                            alt=""
                        />
                    </port-card-image>
                    @for (skill of project.skills; track $index) {
                        <port-badge [badge]="skill" />
                    }
                </port-card>
            </a>
        }
    </div>
</port-section>

<!-- Education -->

<port-section>
    <port-title>My Education</port-title>
    <port-card>
        <port-card-title>Bachelor of Information Technology</port-card-title>
        <port-card-sub-title>Brigham Young University</port-card-sub-title>
        <port-card-image>
            <img
                src="logos/byu.svg"
                alt=""
            />
        </port-card-image>
    </port-card>
</port-section>

<port-footer />
