<port-section>
  <port-hero>
    <port-hero-title>Project/Job title</port-hero-title>
    <port-hero-tag>Some tagline</port-hero-tag>
  </port-hero>
  <div>
    <port-badge imgPath="https://placehold.co/100" />
  </div>
</port-section>

<port-section>
  <port-title>Project Details</port-title>
  <div>
    <ul>
      <li>Foo</li>
    </ul>
  </div>
</port-section>

<port-section>
  <port-title>Portfolio</port-title>
  <div class="layouts--dual-column">
    <port-card> </port-card>
  </div>
</port-section>

<port-footer />
