<port-section>
  <div class="details__hero">
    <port-hero>
      <port-hero-title>{{ typeCap() }} title</port-hero-title>
      <port-hero-tag>Some tagline</port-hero-tag>
    </port-hero>
    <div class="details__hero-skills">
      <port-badge imgPath="https://placehold.co/100" />
    </div>
  </div>
</port-section>

<port-section>
  <port-title>{{ typeCap() }} Details</port-title>
  <div>
    <ul>
      <li>Foo</li>
    </ul>
  </div>
</port-section>

<port-section>
  <port-title>{{ typeCap() }} Portfolio</port-title>
  <div class="layouts--dual-column">
    <port-card> </port-card>
  </div>
</port-section>

<port-footer />
