<port-section>
    <div class="experience__hero">
        <port-hero>
            <port-hero-title>{{ experience().company }}</port-hero-title>
            <port-hero-tag>{{ experience().title }}</port-hero-tag>
            <port-hero-tag class="experience__date">{{ experience().date }}</port-hero-tag>
        </port-hero>
        <div class="experience__hero-img">
            <img [src]="experience().companyImgUrl" />
        </div>
    </div>
</port-section>

<port-section>
    <div>
        @if (description()) {
            @for (para of description(); track $index) {
                <p>{{ para }}</p>
            }
        }
        @if (experience().descriptionBullets) {
            <ul>
                @for (bullet of experience().descriptionBullets; track $index) {
                    <li>{{ bullet }}</li>
                }
            </ul>
        }
    </div>
</port-section>

<port-section>
    @if (experience().screenshots) {
        <port-title>Highlights</port-title>
    }
    @if (experience().screenshots) {
        <port-gallery [images]="experience().screenshots" />
    }
</port-section>

<port-section />

<port-footer />
