<port-section>
    <div class="experience__hero">
        <port-hero>
            <port-hero-title>{{ experience().company }}</port-hero-title>
            <port-hero-tag>{{ experience().title }}</port-hero-tag>
            <port-hero-tag class="experience__date">{{ experience().date }}</port-hero-tag>
        </port-hero>
        <div class="experience__hero-img">
            <port-badge badge="Angular" />
        </div>
    </div>
</port-section>

<port-section>
    <!-- <port-title>{{ project().status }}</port-title> -->

    <div>
        @if (description()) {
            @for (para of description(); track $index) {
                <p>{{ para }}</p>
            }
        }
        @if (experience().descriptionBullets) {
            <ul>
                @for (bullet of experience().descriptionBullets; track $index) {
                    <li>{{ bullet }}</li>
                }
            </ul>
        }
    </div>
</port-section>

<!-- @if (experience().skills) {
    <port-section>
        <port-title>Became</port-title>
        <div class="layouts--dual-column">
            @for (skill of experience().skills; track $index) {
                <port-badge imgPath="#"></port-badge>
            }
        </div>
    </port-section>
} -->

@if (experience().screenshots) {
    <port-section>
        <port-title>Highlights</port-title>
        <div class="layouts--dual-column">
            <port-card> </port-card>
        </div>
    </port-section>
}

<port-footer />
