@use 'colors';

.port-button {
    border: none;
    background: none;
    padding: 16px 24px;
    background: colors.color(primary);
    color: colors.color(onPrimary);
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 0.8;
    }
}
